.hero {
  min-height: 900px;
  background-image: url("/Image.svg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
